<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" /> --}}
		<title>Scraping with MongoDB HW</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../assets/js/index.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
